<md-tab-group>
  <md-tab *ngFor="let robot of map?.objects; let i = index">
    <ng-template  md-tab-label>
      <div (click)="setCurrentRobotIndex(i)">Robot {{i}}</div>
    </ng-template>
  </md-tab>
</md-tab-group>
<div class="simulator-content">
<div #wrapper class="canvas-wrapper">
<canvas #canvas [width]="wrapper.offsetWidth" [height]="canvas.width * 0.75"></canvas>
  <md-card class="player">
    <button md-fab color="primary" (click)="run()">
      <md-icon>play_arrow</md-icon>
    </button>
    <button md-fab color="primary" (click)="stop()">
      <md-icon>pause</md-icon>
    </button>
    <button md-fab color="primary" (click)="doStep()">
      <md-icon>skip_next</md-icon>
    </button>
    <div class="delay-settings">
    <md-input-container>
      <input #speed mdInput placeholder="Delay">
    </md-input-container>
    <button md-fab color="primary" (click)="setSpeed(speed.value)">
      <md-icon>done</md-icon>
    </button>
    </div>
  </md-card>
</div>
<aside class="main-loop">
  <div class="row" (click)="toggleBreackPoint(i)" *ngFor="let row of currentScriptRows; let i = index" [class.current]="i == currentRow">
    <span [class.breackpoint]="breakpoints.indexOf(i) >=0" class="number">{{i}}</span>
    <span class="string">{{row}}</span>
  </div>
</aside>
</div>
